<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/landingpage.css') }}"
    />
    <title>Head2Head</title>
  </head>
  <body>
    <div class="container">
      <h1 class="title">Welcome to Head2Head!</h1>
      <a href="{{ url_for('auth') }}" class="spotify-login-btn"
        >Login with Spotify</a
      >
    </div>
  </body>
</html>
